/db/target/
/db/derby.log
/documentation/src/main/arc42/~$anw.docx
/documentation/src/main/arc42/~WRL0567.tmp
/legacy/target/
/production/target/
/legacy/nbproject/
/legacy/example.xlsx
/documentation/src/main/arc42/~WRL2539.tmp
/documentation/src/main/arc42/~WRL0077.tmp
/documentation/src/main/arc42/~WRL0005.tmp
/documentation/src/main/arc42/~WRL0422.tmp
/documentation/src/main/draw.io/.$Technical Context Diagram.drawio.bkp
/documentation/src/main/arc42/~WRL0959.tmp
/documentation/src/main/arc42/~WRL3981.tmp
/documentation/src/main/arc42/~WRL0003.tmp
